h1 {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 62px;
    font-weight: 200;
    color: rgb(53, 53, 53);
    display: flex;
    justify-content: center;
    margin: auto;
}
  
#button-container {
    display: flex; 
    align-items: center;
    justify-content: center;
}

.resetButton {
    background-color: rgb(196, 112, 182);
    height: 42px;
    width: 130px;
    margin: 16px;
    font-size: 24px;
    border-radius: 10px;
}

#outerBox {
    background-color: rgb(243, 214, 86);
    border: black solid 8px;
    height: auto;
    width: min-content;
    padding: 16px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
  
#container {
    display: grid;
    justify-content: center;
    margin: auto;
    grid-template-columns: repeat(var(--numCols), 1fr);
    grid-template-rows: repeat(var(--numRows), 1fr);
    border: black solid 3px;
}

.cell {
    background-color: rgb(212, 211, 211);
    border: 1px solid black;
    display: flex;
    padding: 6px;
}
  
:root {
    --numCols: 1;
    --numRows: 1;
}